

<%- include('header'); -%>
<%- include ('navbar'); -%>
<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
  <p>We make it easy to view and manage your employee records all in one spot!</p>
</div>

<%- include ('footer'); -%>