
<%- include('header'); -%>
<%- include ('navbar'); -%>
<div role="main" class="container">
  <br /><br />

  <h2> <%= message %></h2>
  <p>
      <table> 
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
      <th>Department</th>
    </tr>
    <tr>
      <td>1001 </td>
      <td>Emeralda Fish</td>
      <td>Web Development</td>
    </tr>
    <tr>
      <td>1002</td>
      <td>Matilda Fish</td>
      <td>Design</td>
    </tr> 
    <tr>
        <td>1003</td>
        <td>Eunice Lim</td>
        <td>Management</td>
      </tr>
      <tr>
        <td>1004</td>
        <td>Esmeralda Fish</td>
        <td>Design</td>
      </tr>
      <tr>
        <td>1005</td>
        <td>Griselda Fish</td>
        <td>Sales</td>
      </tr>

</table>  

</p>
  
 
</div>
<br /><br />

<%- include ('footer'); -%>