<%- include ('header') -%>
<%- include ('navbar'); -%>
<div role="main" class="container">

    <br/><br/>

    <h2><%= message %></h2>
<p>
    <table> 
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Department</th>
        </tr>
        <tr>
          <td>1001 </td>
          <td>Emeralda Fish</td>
          <td>Web Development</td>
        </tr>
        </table>
        <li>Hired on 1 March 2018. </li>
        <li>Gross annual salary $67,000</li>  
        <li>Reports to: Eunice Lim</li> 
</p>
</div>

<%- include ('footer') -%>