<!--
============================================
; Title:  contact.ejs
; Author: Professor Krasso
; Modified by: Eunice Lim
; Date:   23 January 2021
; With help from: https://stackoverflow.com/questions/59106739/syntaxerror-unexpected-indentifier-while-compiling-ejs-problem
; Description: The 'Contact Us' page for putting-it-all-together 
;===========================================
*/ -->
<%- include ('header') %>

<div role="main" class="container">

    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<%- include ('footer') %>