<!--
============================================
; Title:  footer.ejs
; Author: Professor Krasso
; Modified by: Eunice Lim
; Date:   23 January 2021
; Description: The 'Footer' for putting-it-all-together 
;===========================================
*/ -->

</body>

</html>
